{% extends "layout.html" %}

{% block heading %}
<center>
    <h1 class='page_title'>Pick'em! Locks only!</h1>
</center>
{% endblock %}

{% block body %}
Hello world!


<form method='post' id='pickem-form-1' action="/select">
    <button type='submit'>Move on to pick selector</button>
    <table class='pickem-table'>
        <!-- {% for col in columns %}
        <th>{{ col }}</th>
        {% endfor %} -->
        {% for day in unique_days %}
        <td style='padding-top:1em;'><b>{{ day }}</b></td>
        {% for i,row in records[records.date == day].iterrows() %}
        <tr>
            <td class='time-cell'>{{ row.time }}</td>
            <td>
                <table class='nested-pickem-table'>
                    <tr class='away-row'>
                        <td class='matchup-cell'>{{ row.team1_name }}</td>
                        {% if "NOT FOUND" in row.spread %}
                        <td class='pickem-cell'>N/A</td>
                        {% elif "-" not in row.spread %}
                        <td id="{{ row.game_id }}-favorite">
                            <label class = 'pickem-cell-label' id = "label-{{ row.game_id }}-favorite">
                                <input style = "display:none;" type="checkbox"
                                    onclick="changeBackground('{{ row.game_id }}-favorite')" name=input-favorite
                                    id="input-{{ row.game_id }}-favorite" value="{{ row.game_id }}|{{ row['spread'] }}" />
                            -{{ row.spread }}
                        </td>
                        {% else %}
                        <td id="{{ row.game_id }}-underdog">
                            <label class = 'pickem-cell-label' id = "label-{{ row.game_id }}-underdog">
                                <input style = "display:none;" type="checkbox"
                                    onclick="changeBackground('{{ row.game_id }}-underdog')" name=input-underdog
                                    id="input-{{ row.game_id }}-underdog" value="{{ row.game_id }}|{{ row['spread'] }}" />
                                {{ row.spread | replace("-", "+") }}
                        </td>
                        {% endif %}
                        {% if "NOT FOUND" in row["O/U"] %}
                        <td class='pickem-cell'>N/A</td>
                        {% else %}
                        <td id="{{ row.game_id }}-over">
                            <label class='pickem-cell-label' id="label-{{ row.game_id }}-over">
                                <input style="display:none;" type="checkbox"
                                    onclick="changeBackground('{{ row.game_id }}-over')" name=input-over
                                    id="input-{{ row.game_id }}-over" value="{{ row.game_id }}|{{ row['O/U'] }}" />
                                o{{ row["O/U"] }}
                            </label>
                        </td>
                        {% endif %}
                    </tr>
                    <tr class='home-row'>
                        <td class='matchup-cell'>{{ row.team2_name }}</td>
                        {% if "NOT FOUND" in row.spread %}
                        <td class='pickem-cell'>N/A</td>
                        {% elif "-" in row.spread %}
                        <td id="{{ row.game_id }}-favorite">
                            <label class = 'pickem-cell-label' id = "label-{{ row.game_id }}-favorite">
                                <input style = "display:none;" type="checkbox"
                                    onclick="changeBackground('{{ row.game_id }}-favorite')" name=input-favorite
                                    id="input-{{ row.game_id }}-favorite" value="{{ row.game_id }}|{{ row['spread'] }}" />
                            {{ row.spread }}
                        </td>
                        {% else %}
                        <td id="{{ row.game_id }}-underdog">
                            <label class = 'pickem-cell-label' id = "label-{{ row.game_id }}-underdog">
                                <input style = "display:none;" type="checkbox"
                                    onclick="changeBackground('{{ row.game_id }}-underdog')" name=input-underdog
                                    id="input-{{ row.game_id }}-underdog" value="{{ row.game_id }}|{{ row['spread'] }}" />
                                +{{ row.spread }}
                        </td>
                        {% endif %}
                        {% if "NOT FOUND" in row["O/U"] %}
                        <td class='pickem-cell'>N/A</td>
                        {% else %}
                        <td id="{{ row.game_id }}-under">
                            <label class='pickem-cell-label' id="label-{{ row.game_id }}-under">
                                <input style="display:none;" type="checkbox"
                                    onclick="changeBackground('{{ row.game_id }}-under')" name=input-under
                                    id="input-{{ row.game_id }}-under" value="{{ row.game_id }}|{{ row['O/U'] }}" />
                                u{{ row["O/U"] }}
                            </label>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</form>


{% endblock %}